$linkColorMain: #995c00;
$linkColorMainHover: #472f0c;
$buttonDelete: #6d1a01;
$buttonModify: #2d3879;
$buttonSubmitHover: #93c74b;
$buttonModifyHover: #c0c4dd;
$buttonDeleteHover: #ddc2c0;
$navbackground: #ddddc0;
$navBackgroundHover: #99a;
$catBackHover: #c0c0a4;
$headerColor: #523913;
$h3Color: #284a6d;
