@import '~bootstrap/scss/bootstrap.scss';
@import 'color';

.admin-menu {
  display: flex;
  justify-content: center;
  .admin-link-item {
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    padding: 3em;
    justify-content: space-around;
    text-decoration: none;
    font: bolder large sans-serif;
    &:hover {
      background-image: linear-gradient(
        to up $navBackgroundHover,
        $navbackground
      );
      background-color: $navBackgroundHover;
      border-radius: 22px;
      color: $linkColorMainHover;
    }
    transition: 0.5s;
  }
}

@media only screen and (max-width: 768px) {
  .admin-menu {
    flex-direction: column;
    align-items: center;
    width: 85%;
    .admin-link-item div {
      width: 70%;
    }
  }
}
