@import '~bootstrap/scss/bootstrap.scss';
@import 'color';

.categories-main {
  width: 90%;
  .categories-box {
    display: flex;
    justify-content: space-around;

    div {
      flex: 1;
      textarea {
        height: 200px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .categories-box {
    flex-direction: column;
    .categories div {
      width: 80%;
    }
  }
}
