@import '~bootstrap/scss/bootstrap.scss';
@import 'color';

.categories-main {
  width: 90%;
  margin: auto;
  .categories-box {
    display: flex;
    justify-content: space-around;

    div {
      flex: 1;
      textarea {
        height: 200px;
      }
    }
  }
  .single-category {
    border-radius: 10px;
    padding: 24px;
    &:hover {
      background-color: $catBackHover;
      transition: 0.8s;
    }
  }
}

@media only screen and (max-width: 768px) {
  .categories-box {
    margin-top: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    width: 80%;
    min-width: 300px;
    .single-category {
      margin: 5px;
      border: 1px solid #afadad;
    }
    form {
      margin: 10px 0px;
    }
    .categories div {
      width: 80%;
    }
  }
}
