@import '~bootstrap/scss/bootstrap.scss';
@import 'color';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
}

body {
  min-width: 200px;
  background: $lightGray;
  margin-bottom: 50px;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  max-width: 100vw;
}

.navbar {
  span {
    color: $white;
  }
  height: 60px;
  .link {
    color: $white;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    &:hover {
      color: $green;
      cursor: pointer;
    }
  }
}

.header {
  margin-top: 60px;
  a {
    color: $green;
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
  }
}

.footer {
  background: $footerBack;
  .container {
    .row nav a {
      color: $white;
      text-decoration: none;
      &:hover {
        color: $green;
        cursor: pointer;
      }
    }
    hr {
      color: $white;
      height: 3px;
    }
  }
}

.home-main {
  background-image: url('../assets/sanitally-background.jpg');
  background-size: cover;
  height: inherit;
}

.dashboard,
.new-event {
  background-color: #d9eee0;
  height: 100vh;
  padding-top: 70px;
  background-repeat: no-repeat;
}
