@import '~bootstrap/scss/bootstrap.scss';
@import 'color';
nav,
footer {
  width: 100vw;
  background-color: $navbackground;
  height: 3rem;
  li,
  a {
    a,
    nav a {
      padding: 13px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bolder;
      color: $linkColorMain;
      &:hover {
        background-image: linear-gradient(
          to up $navBackgroundHover,
          $navbackground
        );
        background-color: $navBackgroundHover;
        border-radius: 22px;
        color: $linkColorMainHover;
      }
      transition: 0.5s;
    }
  }
}

table {
  border-radius: 15px;
  background-color: rgba($color: #93cff7, $alpha: 0.4);
}

.services,
.new-service {
  background-image: url('../assets/medicalServices.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.admin,
.dashboard,
.categories-main {
  background-image: url('../assets/medical-dash.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.admin-background {
  background-image: url('../assets/medical-dash.jpg');
  background-size: cover;
  height: 100vh;
}

.main {
  height: 100vh;
  background-image: url('../assets/sanitally-background.jpg');
  background-size: cover;
  h1,
  h2 {
    color: $headerColor;
  }
  h1 {
    border: 1px solid $headerColor;
  }
  span {
    color: $headerColor;
    font-weight: bold;
    &:hover {
      transition: 0.5s;
    }
  }
}

.nav-title-li {
  color: $linkColorMainHover;
  font-size: 26px;
  font-weight: bolder;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0 8px 0 5px;
}

.categories {
  margin-top: 100px;
  padding: 10px;
  background-color: $navbackground;
  text-align: center;
  div {
    padding: 10px;
    transition: all 0.4s ease-out;
    &:hover {
      border-radius: 12px;
      background-color: $catBackHover;
    }
  }
  h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: bold;
    background-image: linear-gradient(#614a00, #a3935f);
    background-size: 0 2px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all 0.4s ease-out;
    &:hover {
      background-size: 75% 2px, auto;
    }
  }

  p {
    padding: 10px;
  }
}

.submit-btn {
  border: 1px solid $linkColorMain;
  background-color: $navbackground;
  &:hover {
    background-color: $buttonSubmitHover;
    transition: 0.8s;
  }
}

.modify-button,
.delete-button {
  border: 1px solid $linkColorMain;
  background-color: $navbackground;
}

.delete-button {
  color: $buttonDelete;
  &:hover {
    background-color: $buttonDeleteHover;
    transition: 0.6s;
  }
}
.modify-button {
  color: $buttonModify;
  &:hover {
    background-color: $buttonModifyHover;
    transition: 0.6s;
  }
}
.return-btn {
  border: 2px solid green;
  border-radius: 12px;
  color: $buttonModify;
  &:hover {
    background-color: $buttonModifyHover;
    transition: 0.6s;
  }
}

@media only screen and (max-width: 768px) {
  .categories {
    flex-direction: column;
    .categories div {
      width: 80%;
    }
  }
}
