@import '~bootstrap/scss/bootstrap.scss';
@import 'color';
nav,
footer {
  width: 100vw;
  background-color: $navbackground;
  height: 3rem;
  li,
  a {
    a,
    nav a {
      padding: 13px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bolder;
      color: $linkColorMain;
      &:hover {
        background-image: linear-gradient(
          to up $navBackgroundHover,
          $navbackground
        );
        background-color: $navBackgroundHover;
        border-radius: 22px;
        color: $linkColorMainHover;
      }
      transition: 0.5s;
    }
  }
}

.main {
  height: 100vh;
  background-image: url('../assets/sanitally-background.jpg');
  background-size: cover;
}
