.page {
  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: 12pt 'Verdana';
  }
  width: 21cm;
  min-height: 29.7cm;
  padding: 2cm;
  margin: 1cm auto;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.subpage {
  padding: 1cm;
  border: 2px #696969 solid;
  height: 256mm;
}

.signature {
  margin: 100px 0 20px 0;
}

.print-table {
  margin: 60px 0;
  th,
  td {
    padding: 0 0 0 10px;
    border: 1px solid grey;
    width: 280px;
    height: 30px;
    &:first-child {
      width: 250px;
    }
  }
  th {
    font-weight: bold;
  }
}

.foot {
  display: flex;
  justify-content: center;
}

@page {
  size: A4;
  margin: 0;
}
@media print {
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}
